        body {
            background:gray;
            background-image: url('https://minhducpc.vn/uploads/images/hinh-nen-may-tinh/hinh-nen-may-tinh-chill-4k23.jpg'); /* Thay thế bằng URL của ảnh bạn muốn sử dụng */
            background-size: cover; /* Đảm bảo hình nền bao phủ toàn bộ trang */
            background-position: center; /* Đặt hình nền ở giữa trang */
            background-repeat: no-repeat; /* Không lặp lại hình nền */
            font-family: Arial, Helvetica, sans-serif;
        }
        h1 {
            color:rgb(49, 206, 51);
            background:gray;
            text-align: center;
        }
        button {
            color:aqua;
            background-color:azure ;
            border:round ;
        }
        .hover-effect { 
            width: 200px; 
            height: 100px; 
            background-color: #007bff; 
            color: white; 
            display: flex; 
            align-items: center; 
            justify-content: center; 
            font-size: 18px; 
            border-radius: 8px; 
            transition: transform 0.2s, 
            box-shadow 0.2s; 
            margin: 20px; } 
        .hover-effect:hover { 
            transform: translateY(-10px); 
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
        fieldset {
            display: flexbox;
            background: white;
            background-image: url('https://file.vfo.vn/hinh/2018/03/hinh-mau-trang-tinh-tron-hinh-nen-anh-dai-dien-anh-bia-toan-mau-trang4.png');
            background-size: cover;
            background-position: center; /* Đặt hình nền ở giữa trang */
            background-repeat: no-repeat; /* Không lặp lại hình nền */
        }
